<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>
    <div class="container text-center signup-div">
        <h3 class="">Sign Up</h3>
    </div>

    <div class="container text-center">
        <span class="badge text-bg-success success-msg">Congratulations! <br><br>You have successfully registered in APTI</span>
    </div>
    <div class="container text-center">
        <a href="/" class="signup-link">Login</a>
    </div>

    <%-include('./partials/footer')%>
</body>
</html>
   
   
    <!-- <div class="signup-form">
        <form action="/signup" method="post">
            <label for="uemail">Email ID:<span>*</span></label>
            <input type="email" name="uemail" id="uemail" placeholder="Email Id" required>
            <label for="umob">Mobile No:<span>*</span></label>
            <input type="text" name="umob" id="umob" placeholder="Mobile Number" required>
            <label for="upswd">Password:<span>*</span></label>
            <input type="password" name="upswd" id="upswd" placeholder="Password" required>
            <label for="urpswd">Retype Password:<span>*</span></label>
            <input type="password" name="urpswd" id="urpswd" placeholder="Retype Password" required>
            <input type="submit" value="Sign Up" id="submit">
        </form>
        <h1 id="hid"></h1>
        <a href="/">Login</a>
    </div> -->
