@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;700&display=swap'); 
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins',sans-serif;
}
header{
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    vertical-align: center;
}
.apti-heading{
    font-weight: bolder;
}
.cgpc-heading{
    color:grey;
}
.login-div,.signup-div{
    padding:15px 0;
}
.clear{
    clear:both;
}
.signup-form{
    border:1px solid gray;
    padding:2vh 2vw;
    /* position:absolute;
    left:50%;
    top:50%; */
    /* transform: translate(-50%,-50%); */
    box-shadow: 0 5px 10px rgba(0,125,124,0.4);
    margin:20px auto;
}
.signup-link{
    display: block;
    margin:0 auto;
}
input{
    display: block;
    margin:6px 0;
    height:30px;
    width:15vw;
}
input[type='submit']{
    width:95%;
    margin-top:20px;
}
span{
    color:red;
}
.login-form{
    border:1px solid gray;
    width:20vw;
    padding:2vh 2vw;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 10px rgba(0,125,124,0.4);
}
a{
    text-decoration: none;
    margin:0 auto;
    padding:0 90px;
}
.card-footer{
    text-align: center;
    /* box-shadow: 0 -10px 10px rgba(0,0,0,0.4); */
    vertical-align: center;
    margin:10px 0;
}
